# Credenciais Yapay
YAPAY_TOKEN_ACCOUNT=your_token_account_here

# Necessário para listagem de transações e demais endpoints protegidos
YAPAY_ACCESS_TOKEN=your_access_token_here

# Ambiente (sandbox ou production)
YAPAY_ENVIRONMENT=sandbox

